@font-face {
    font-display: optional;
    font-family: Netflix Sans;
    font-weight: 100;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format("woff2"),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format("woff")
}
body {
    background-color: #000 !important;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;;
}
header {
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/76c10fc9-7ccd-4fbf-bc59-f16a468921ca/529648c5-e595-4746-af3f-fab3106e3146/BR-pt-20230529-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    height: 750px;
    display: flex;
    justify-content: center;
}
header a {
    text-decoration: none;
}
header a:hover {
    text-decoration: none;
    color: white;
}
header .btn-login:hover {
    background-color: rgb(202, 15, 24);
}

.logo {
    max-height: 105px;
    position: absolute;
    top: -10px;
    left: 180px;
}

.btn-login {
    position: absolute;
    right: 215px;
    font-size: 0.875rem;
    font-weight: 500;
    min-height: 2rem;
    padding: 0.25rem 1rem;
    background: rgb(229,9,20);
    color: rgb(255,255,255);
    border-radius: 3px;
}
.box-background {
    height: 83.27vh;
}
.box-background::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.945) 0, rgba(0, 0, 0, 0.452) 60%, rgba(0, 0, 0, 0.945) 100%);
}

.frase-inicial{
    position: relative;
    top: 275px;
    color: white;
    text-align: center;
}
.frase-inicial h1 {
    font-size: 48px;
    font-weight: bold;
}
.frase-inicial h2 {
    font-size: 26px;
    font-weight: normal;
    margin-top: 25px;
}
.frase-inicial h3 {
    font-size: 21px;
    font-weight: normal;
    margin-top: 25px;
}
.div-email input {
    width: 400px;
    height: 55px;
    margin-top: 15px;
    border: 1px  white;
    border-style:solid;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.548);
}
.div-email button {
    width: 180px;
    height: 55px;
    margin-top: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgb(229,9,20);
    font-size: 25px;
    font-weight: bold;
    color: white;
    position: relative;
    top: 4px;
}